html,
body {
  overflow: auto;
  position: relative;
}

html::before,
html:after,
body:before,
body:after {
  z-index: 100;
  content: '';
  position: fixed;
  background-color: var(--frame);
}

html::before {
  height: var(--mobile-border);
  top: 0;
  width: 100%;
}

html::after {
  height: var(--mobile-border);
  bottom: 0;
  width: 100%;
}

body::before {
  width: var(--mobile-border);
  top: 0;
  left: 0;
  height: 100%;
}

body::after {
  width: var(--mobile-border);
  top: 0;
  right: 0;
  height: 100%;
}

html[data-theme='dark'] img {
  opacity: 0.5;
  filter: grayscale(0.7);
}

::selection {
  background: rgba(90, 170, 166, 0.5);
}

h1,
h2,
h3,
h4,
a,
p,
li {
  color: var(--text-1);
  font-family: var(--font-serif);
}

a {
  display: inline-block;
}

a:focus-visible {
  outline-color: var(--accent-2);
  outline-style: solid;
  outline-width: 2px;
}

button:focus-visible {
  outline-color: var(--accent-2);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

svg {
  width: var(--font-size-5);
  height: var(--font-size-5);
}

@media (min-width: 50rem) {
  * {
    cursor: none;
  }

  html,
  body {
    overflow: hidden;
  }

  html::before,
  html::after {
    height: var(--desktop-border);
  }

  body::before,
  body::after {
    width: var(--desktop-border);
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2b2922 #f5e0e0;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #f5e0e0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2b2922;
    border-radius: 0px;
    border: 4px solid #f5e0e0;
  }

  svg {
    width: var(--font-size-4);
    height: var(--font-size-4);
  }
}
