@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Raleway:wght@300;400&display=swap');

html,
body {
  height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  background-color: var(--color-bg);
  cursor: none;
}

body::before,
html::before,
body::after,
html::after {
  content: '';
  position: fixed;
  background-color: var(--color-white);
  top: 0;
  left: 0;
  width: 100%;
  height: var(--mobile-border);
  z-index: 100;
}

html::before {
  width: var(--mobile-border);
  height: 100%;
}

body::after {
  top: unset;
  left: 0;
  bottom: 0;
}

html::after {
  left: unset;
  right: 0;
  top: 0;
  width: var(--mobile-border);
  height: 100%;
}

#portfolio {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--navbar-height) auto;
  grid-template-areas:
    'navbar'
    'slot';
  padding: var(--mobile-border);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
a,
p,
li {
  color: var(--color-dark);
  font-family: var(--main-font);
}

p {
  font-size: var(--font-md);
}

p[data-hidden] {
  display: none;
}

a:focus-visible {
  outline-color: var(--color-accent-light);
  outline-style: solid;
  outline-width: 2px;
}

button:focus-visible {
  outline-color: var(--color-accent-light);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

a:hover,
button:hover, 
a:active,
button:active {
  cursor: none;
}

.flow-h > * + * {
  margin-left: var(--flow-spacing, 1rem);
}

.flow-v > * + * {
  margin-top: var(--flow-spacing, 1rem);
}

@media (min-width: 62rem) {
  html,
  body {
    overflow: hidden;
  }

  body::before,
  html::before,
  body::after,
  html::after {
    height: var(--desktop-border);
  }

  html::before {
    width: var(--desktop-border);
    height: 100%;
  }

  html::after {
    width: var(--desktop-border);
    height: 100%;
  }

  #portfolio {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'portrait navbar'
      'portrait slot';
    padding: var(--desktop-border);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b2922 #f5e0e0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f5e0e0;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b2922;
  border-radius: 0px;
  border: 4px solid #f5e0e0;
}
