html {
  --gray-hue: 18;
  --gray-chroma: 0.01;

  --frame-light: var(--gray-0);
  --brand-light: oklch(97% 0.045 18);

  --surface-1-light: var(--brand-light);
  --surface-2-light: var(--brand-light);
  --blend-mode-light: darken;

  --text-1-light: var(--gray-15);
  --text-2-light: var(--gray-12);

  --accent-1-light: oklch(32% 0.15 205);
  --accent-2-light: oklch(67% 0.15 190);

  --color-danger-light: oklch(45% 0.25 26);

  /* --------- */

  --frame-dark: var(--gray-13);
  --brand-dark: oklch(10% 0.045 18);

  --surface-1-dark: var(--brand-dark);
  --surface-2-dark: var(--brand-light);
  --blend-mode-dark: initial;

  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-4);

  --accent-1-dark: oklch(42% 0.15 205);
  --accent-2-dark: oklch(77% 0.15 190);
  --color-danger-dark: oklch(80% 0.16 20);
}

:root {
  --frame: var(--frame-light);
  --brand: var(--brand-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --blend-mode: var(--blend-mode-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --accent-1: var(--accent-1-light);
  --accent-2: var(--accent-2-light);
  --color-danger: var(--color-danger-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --frame: var(--frame-dark);
    --brand: var(--brand-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --blend-mode: var(--blend-mode-dark);

    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    --accent-1: var(--accent-1-dark);
    --accent-2: var(--accent-2-dark);
    --color-danger: var(--color-danger-dark);
  }
}

[color-scheme='dark'] {
  color-scheme: dark;
  --frame: var(--frame-dark);
  --brand: var(--brand-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --blend-mode: var(--blend-mode-dark);

  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);

  --accent-1: var(--accent-1-dark);
  --accent-2: var(--accent-2-dark);
  --color-danger: var(--color-danger-dark);
}

[color-scheme='light'] {
  color-scheme: light;

  --frame: var(--frame-light);
  --brand: var(--brand-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --blend-mode: var(--blend-mode-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --accent-1: var(--accent-1-light);
  --accent-2: var(--accent-2-light);
  --color-danger: var(--color-danger-light);
}

:root {
  --desktop-border: var(--size-3);
  --mobile-border: var(--size-2);
  --navbar-height: var(--size-9);

  --font-serif: 'EB Garamond', Georgia, serif;

  --font-size-9: 5rem;
  --font-size-10: 6rem;
  --font-size-11: 7rem;
}
