@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
:root {
  --color-white: hsl(0, 33%, 99%);
  --color-bg: hsl(0, 51%, 92%);
  --color-dark: hsl(48, 12%, 15%);
  --color-gradient-dark: hsl(177, 32%, 23%);
  --color-gradient-light: hsl(177, 32%, 51%);
  --stroke-width: 3px;

  --main-font: 'Cormorant Garamond', Georgia, serif;
  --secondary-font: 'Raleway', Arial, sans-serif;

  --font-thin: 400;
  --font-medium: 500;
  --font-thick: 600;

  --font-300: 0.75rem;
  --font-400: 1rem;
  --font-500: 1.5rem;
  --font-600: 2rem;
  --font-700: 1rem;
  --font-800: 1rem;
  --font-900: 6rem;
}
